

.close_2{
    float: right;
    border: none;
    margin-top: 5px;
    margin-right: 3px;

}

.close_3{
    height: 40px;
    width: 40px;
    color: rgba(99, 98, 95, 0.92);
}

.modal_main_2{
    border-radius: 15px;
    border: 2px solid #da9696;
    /*background-color: rgba(190, 96, 129, 0.02);*/

    width: auto;
    height: auto;
}

/*.modaltxt_1{*/
/*    border-radius: 15px;*/
/*}*/
.star_8{
height: 50px;
    width: 50px;
    margin-top: 550px;
}



.txt1{
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: large;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    position: center;
    background-color: rgba(243, 240, 240, 0.04);
}

.txt2{
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 4px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    position: center;
    background-color: rgba(243, 240, 240, 0.04);
}

.txt3{
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    position: center;
    background-color: rgba(243, 240, 240, 0.04);
}

.txt4{
    /*padding-top: 17px;*/
    margin-top: 15px;
    /*margin-left: 15px;*/
    /*margin-right: 4px;*/
    /*margin-bottom: 4px;*/
    font-size: large;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    position: center;
    background-color: rgba(243, 240, 240, 0.04);
}

.txt7{
    padding-top: 25px;
    padding-bottom: 17px;
    margin-left: 15px;
    margin-right: 4px;
    margin-bottom: 4px;
    /*font-size: x-large;*/
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    position: center;
    background-color: rgba(243, 240, 240, 0.04);
}

.bold {
    font-size: xx-large;
    background-color: rgba(243, 240, 240, 0.04);
    /*text-align: center;*/
}

.btn_2{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    /*margin-left: 15px;*/
    background-color: #da4b38;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 25px;
    font-family: "Caveat", cursive;
    /*letter-spacing: -5px;*/
    font-weight: bold;
    font-size: large;
    flex-wrap: wrap;
}
.btn_2_1{
    background-color: rgba(243, 240, 240, 0.22);
}
.text_modal_rec_2 {
    text-align: center;
    font-size: large;
    border-radius: 15px;
    margin-top: 15px;
    /*font-weight: bold;*/
    /*background-color: rgba(190, 96, 129, 0.15);*/
    font-family: "Caveat", cursive;
}



@mixin clearfix {
    :after {
        display: table;
        clear: both;
        content:'';
    }
}

body {
    margin-top: 3rem;
}

.m-wrap {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;

}

.grid-item_1 {
    /*width: calc((100% - 24px * 3) / 3);*/
    /*height: 200px;*/
    /*width: auto;*/
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin: 24px 5px 10px 30px;
    background-color: rgba(246, 226, 246, 0.63);
    float: left;
}

/* Demo purposes */
.grid-item_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 200px;*/
    text-align: center;

    /*background: rgba(red, 0.25);*/

}





/*.img_rec {*/
/*    margin-top: 0;*/
/*    width: 70%;*/
/*    height: 55%;*/
/*    border-radius: 10px;*/
/*}*/